<p>
<strong>Commenter:</strong>
<%= comment.commenter %>
</p>
<p>
<strong>Body:</strong>
<%= comment.body %>
</p>
<%= link_to "Delete Comment", [comment.post ,comment], method: :delete, data: { confirm: 'Are You Sure' }%>